#content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .sidebar {
        transition: all 0.3s ease;
    }

    .sidebar.toggled {
        width: 100px !important;
    }

    .sidebar .nav-item .nav-link span {
        transition: opacity 0.3s ease;
    }

    body.sidebar-toggled .sidebar {
        width: 80px;
    }
}

.scroll-table thead th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}

.table-container {
    max-height: 380px;
    overflow-y: auto;
}

.modal.fade .modal-dialog.modal-dialog-slideout-left {
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    margin-left: 0;
    margin-right: auto;
    pointer-events: none;
}

.modal.show .modal-dialog.modal-dialog-slideout-left {
    transform: translateX(0);
    pointer-events: auto;
}

.modal-backdrop.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.modal-backdrop.show {
    opacity: .5;
}

@media (max-width: 575.98px) {
    .modal-dialog.modal-dialog-slideout-left.modal-sm {
        max-width: 35%;
        height: auto;
    }

    .modal-content {
        border-radius: .3rem;
        height: auto;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .modal-body {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        flex-grow: 1;
    }

    .modal-header {
        align-items: flex-start;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        flex-shrink: 0;
        border-bottom: 2px solid #e3e6f0;
    }

    .sidebar-brand-icon-logo {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
}

.main-content {
    width: 100%;
    margin-left: 224px;
}

#content-wrapper.toggled {
    margin-left: 104px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: 60px;
}

.sticky-footer {
    padding: 0.5rem 0;
}

div.row {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.container-fluid {
    padding: 0;
}

.modal-dialog.animasi-modal {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-dialog.animasi-modal.show {
    transform: translateX(0);
    opacity: 1;
}


form.form-filter {
    /* width: 100%; */
    align-items: center;
}

div.input-group {
    align-items: center;
}

div.input-group button.btn-filter {
    border-radius: 0 0.35rem 0.35rem 0;
    margin: 0.75rem 0;
}

div.input-group input.form-control {
    border-radius: 0.35rem 0 0 0.35rem;
    height: 37.6px;
}

form.form-filter .btn-input {
    margin: 0.75rem 0;
}

form.form-filter select.form-select {
    border-radius: 0.35rem;
    border-width: 0.0625rem;
    border-color: darkgray;
}

form.form-filter a.btn-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form-filter .btn-input,
form.form-filter select.form-select {
    height: 2.35rem;
    margin: auto;
    justify-content: center;
}

h4.fw-bold.text-success,
h5.fw-bold.text-success {
    font-weight: 500;
    text-align: left;
}

div.card-body div.flex.gap-4 div.card-clickable {
    text-align: center;
    break-inside: avoid;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    background: #fff;
    border: 1px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
}

div.card-body div.flex.gap-4 div.card-clickable div.text-sm {
    font-size: 0.75rem;
}

div.card-body.pengaduan,
div.card-body.pengumuman {
    min-height: 63vh;
    max-height: 63vh;
    overflow-y: auto;
    padding-right: 8px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#content::-webkit-scrollbar,
div.card-body.pengaduan::-webkit-scrollbar,
div.card-body.pengumuman::-webkit-scrollbar,
div.komen-section::-webkit-scrollbar,
div.tambah-body::-webkit-scrollbar,
div.table-responsive::-webkit-scrollbar {
    display: none;
}

div.card-body.pengaduan button.scroll-top-btn,
div.card-body.pengumuman button.scroll-top-btn {
    position: sticky;
    bottom: 10px;
    left: calc(100% - 70px);
    z-index: 10;

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

div.card-body.pengaduan button.scroll-top-btn.show,
div.card-body.pengumuman button.scroll-top-btn.show {
    opacity: 1;
    transform: translateY(0);
}

input.komen,
input.edit-judul,
input.tambah-judul,
input.tambah-kategori,
input.edit-kategori {
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

input.komen:focus,
input.edit-judul:focus,
input.tambah-judul:focus,
input.tambah-kategori:focus,
input.edit-kategori:focus {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    color: #6e707e;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

input.komen:focus-visible,
input.edit-judul:focus-visible,
input.tambah-judul:focus-visible,
input.tambah-kategori:focus-visible,
input.edit-kategori:focus-visible {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    color: #6e707e;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

button.komen {
    border: none;
    border-radius: 0;
    color: gray;
    height: 37.6px;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

button.komen:focus,
button.komen:focus-visible,
button.komen:hover,
button.komen:disabled,
button.komen.btn-primary:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: #4e73df;
    border-bottom: 1px solid lightgray;
    outline: none;
    box-shadow: none;
}

button.komen:disabled {
    cursor: not-allowed;
}

div.komen {
    margin-top: auto;
}

ul.navbar-nav.sidebar#accordionSidebar {
    position: fixed;
    z-index: 1000;
}

div.modal-komen {
    min-height: 700px;
    max-height: 700px !important;
    width: 100%;
}

.modal-dialog.modal-komen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 3.5rem);
}

p.isi-pengaduan,
p.isi-pengumuman,
p.komen {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
}

p.isi-pengaduan.clamped,
p.isi-pengumuman.clamped {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.isi-pengaduan.expanded,
p.isi-pengumuman.expanded {
    display: block;
}

p.komen {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

p.komen.line-clamp-none {
    -webkit-line-clamp: unset;
}

button.btn-expand {
    font-size: 0.9rem;
}

textarea.edit-isi {
    border: 1px solid lightgray;
    border-radius: 0;
}

button.edit-file {
    border: none;
    border-radius: 0;
    color: gray;
    height: 37.6px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

button.edit-file:focus,
button.edit-file:focus-visible,
button.edit-file.btn-outline-primary:not(:disabled):not(.disabled):active,
button.edit-file:hover {
    background-color: transparent;
    color: #4e73df;
    outline: none;
    box-shadow: none;
}

button.edit-file:disabled {
    cursor: not-allowed;
}

embed.pdf-preview {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    border: none;
}

#preview {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    width: 100%;
    height: 100%;
}

#preview .pdf-preview {
    width: 100%;
    height: 100%;
}

button:disabled {
    cursor: not-allowed !important;
}

button.btn.transaksi:hover {
    background: #4e73df !important;
    color: white !important;
}